body
{
	position:relative;
	font-family: 'CenturyGothic';
	margin: 0;
	padding: 0;
}

@font-face
{
	font-family: 'CenturyGothic';
	src : url('CenturyGothic.ttf');

}

header{
	display: flex;
	background-color: rgb(44,78,120);
	height: 45px;
}
header p{
	margin-left: 5px;
}