body
{
    position:relative;
    font-family: 'CenturyGothic';
    margin: 0;
    padding: 0;
    display:grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 50px 600px 150px;
}
ul{
    list-style-type:none;
}
a{
    text-decoration: none;
}
@font-face
{
    font-family: 'CenturyGothic';
    src : url('../Ressources/CenturyGothic.ttf');

}
header
{
    color:white;
    display:grid;
    grid-template-columns: repeat(100,auto);
    grid-column: 2;
    grid-row:1 ;
    text-align: center;
    background-color: rgb(44,78,120);
}
#Profil
{
    grid-column: 2;

}
#AjoutMaison
{
    grid-column: 4;
}
#Déco
{
    grid-column: 98;

}

#BarreGauche
{
    display:grid;
    grid-template-rows:30% 70%;
    grid-column:1;
    grid-row:1/3 ;
    padding-left:10%;
    padding-right:10%;
    padding-top:5%;
    border-right: 1px solid black;
    background-color: rgb(44,78,120);
}

#Logo
{
    grid-row: 1;

}
#ListeBG
{
    display:flex;
    flex-direction: column;
    padding:0;
    grid-row:2;
    background-color: rgb(44,78,120);

}
#ListeBG li
{
    padding:3%;
    margin-bottom: 5%;
    border:1px solid black;
    background-color: white;

}
#ListeBG li:hover{
    background-color: lightgray;
}

#ZoneCentrale{
    display:flex;
    grid-column:2;
    grid-row:2 ;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    overflow: auto;

}

footer{
    display:grid;
    grid-template-columns: 5% 55% 35% 5%;
    grid-template-rows: repeat(30,5px);
    grid-row:3;
    grid-column: 1/3;
    border-top : 5px solid white;
    background-color: rgb(44,78,120);
    color: white;
}

.gauche{
    grid-column: 2;
}
.droite{
    grid-column: 3;
}
#contact{
    font-size:1.3em;
    grid-row:2;
}
#ad{
    grid-row:10;
}
#adM{
    grid-row:15;
}
#tel{
    grid-row:20;
}
#ml{
    grid-row:10;
}
#cgu{
    grid-row:15;
}